<div class="bg" ng-controller="payment_summary" ng-init="address_get()">
        <header class="container-fluid nav-down">
                <div class="row">
                    <nav class="navbar navbar-inverse">
                      <div class="container no-padding">
                        <ul class="nav navbar-nav top_header text-center">
                          <li class="menu_icon "><a href="javascript:void(0)"  ><img src="assets/img/icon/back.png" id="asdf" alt="menu icon"style="width: 13px;" ng-click="back()"/></a></li>
                            <li class="page_name left">
                                <a href="javascript:void(0)" class="text-left ">
                                    <p>{{'Payment_Summary' | translate}}</p>
                                </a>
                            </li>
                          
                        </ul>
                        
                      </div>
                    </nav>
                
                </div>
                <!-- MOBILE-MENU-AREA END -->
            </header>
            <!-- END HEADER -->
                
            <!--  START Banner SLIDER -->
                <div class="container-fluid mt-55">
                <div class="row">
                    <div class="checkoout_container">
                        <div class="dlvry_container">
                            <div class="dlvry_heading">
                                <p>{{'Delivery_Address' | translate}}</p>
                            </div>
                            <div class="dlvry_address col-xs-12">
                                <div class="dlvry_address_heading">
                                    <h5>{{'Your_Address' | translate}}</h4>
                                    <a href="javascript:void(0)"><img src="assets/img/icon/edit_fill.png" /></a>
                                </div>
                                <div class="dlvry_address_content">
                                    <h5>Home</h5>
                                    <p>B-88</p>
                                    <p>Tekshapers</p>
                                    <p>Sector-65, Noida</p>
                                </div>
                            </div>
                        </div>
                        <div class="dlvry_time_container mt-15">
                            <div class="dlvry_address col-xs-12">
                                <div class="dlvry_address_heading">
                                    <div class="mui-checkbox">
                                        <label>
                                          <input type="checkbox" value="" checked>
                                          Use Loyality Points
                                        </label>
                                    </div>
                                    <table class="mui-table">
                                      <tbody>
                                        <tr>
                                          <td>Bag Total</td>
                                          <td align="right">AED 70</td>
                                        </tr>
                                        <tr>
                                          <td>Discount</td>
                                          <td align="right">AED 10</td>
                                        </tr>
                                        <tr>
                                          <td>Loyalty Points Discounts</td>
                                          <td align="right">AED 06</td>
                                        </tr>
                                        <tr>
                                          <td>Total Payments Payable</td>
                                          <td align="right">AED 54</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="view_prod">
                            <p class="col-xs-6"><a href="javascript:void(0)">View Items</a></p>
                            <p class="col-xs-6 text-right"><span class="prod_qty">2</span> products in Cart</p>
                        </div>
                        <div class="submit-btn col-sm-6 col-xs-12 text-center mt-25">
                            <a href="javascript:void(0)" ng-click="paymode()">{{'Proceed_To_Payment' | translate}}</a>
                        </div>
                    </div>
                </div>
                </div>
    
    <!-- <div ng-if="payment.error" class="payment_error">
        <h3>No Data</h3>
    </div> -->
</div>