<div class="bg" ng-controller="payment_mode" style="overflow:hidden;">

    <header class="container-fluid nav-down">
        <div class="row">
          <nav class="navbar navbar-inverse">
            <div class="container no-padding">
            <ul class="nav navbar-nav top_header text-center">
              <li class="menu_icon "><a href="javascript:void(0)"  ><img ng-click="back()" src="assets/img/icon/back.png" alt="menu icon"style="width: 13px;" /></a></li>
              <li class="page_name left">
                <a href="javascript:void(0)" class="text-left ">
                  <p>{{'Payment_Options' | translate}}</p>
                </a>
              </li>
              
            </ul>
            
            </div>
          </nav>
        
        </div>
        <!-- MOBILE-MENU-AREA END -->
      </header>
      <!-- END HEADER -->
        
      <div class="container">
          <div class="login_form payment-section">
            <div class="form_container pt-10">
              <form class="" name="paymentoption" nonvalidate>
                <div class="col-xs-12">
                <!--<div class="addr_heading">-->
                <div class="" ng-if="paybywallet !== '1'">
                    <div class="radio mb-20 mt-10">
                    <input id="radio-1" ng-model="payby" name="payby" type="radio" value="1" required>
                    <label for="radio-1" class="radio-label">{{'Cash_On_Delivery' | translate}}</label>
                    </div>
                    <div class="radio mb-20">
                    <input id="radio-2" ng-model="payby" name="payby" type="radio" value="2" required>
                    <label for="radio-2" class="radio-label">{{'Payment_Gateway' | translate}} <span>({{'Coming_Soon' | translate}})</span></label>
                    </div>
                  </div>
                  <div class="radio mb-20">
                    <input id="checkbox1" ng-model="iswalletused" name="iswalletused" type="checkbox" value="1" required ng-change="selectwallet()">
                    <label for="checkbox1" class="radio-label">{{'Wallet' | translate}}<span>(Amount - {{wallet_amount}})</span></label>
                    </div>
                </div>
                
                <div class="submit-btn col-xs-12 text-center">
                <a href="javascript:void(0)" ng-click="payment('paymentoption')">{{'Proceed_To_Payment' | translate}}</a>
                </div>
                
              </form>
              
      
      
      
            </div>
          </div>
        </div>
</div>
