<style>
    #slides_control > div{
      height: auto;
    }
    img{
      margin:auto;
      width: auto;
      height: auto;
    }
    #slides_control {
     position:relative;
      width: 100%;
      
    }
    .carousel-control.right {
    background-image:none !important;
    color: #000 !important;
    }
    .carousel-control.left {
    background-image:none !important;
    color: #000 !important;
    }
    .carousel-indicators li
    {
        border:1px solid #000 !important;
    }
    .carousel-indicators
    {
        bottom: -5px !important;
    }
    .carousel-indicators .active
    {
    
        margin-right: 6px;
        background-color:#666;
    }
    .carousel-indicators li
    {
        margin-right: 6px;
    }
    /** Controls **/
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        right: 50%;
        margin-right: -10px;
        opacity: 0;
    }
    
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        left: 50%;
        margin-left: -10px;
        opacity: 0;
    }
    
    a.left.carousel-control
    {
        position: absolute;
        top: 50%;
        z-index: 5;
        display: none;
        margin-top: -10px;
    
       
        margin-left: -10px;
    }
    a.right.carousel-control
    {
        
        margin-right: -10px;
        position: absolute;
        top: 50%;
        z-index: 5;
        display: none;
        margin-top: -10px;
    }
    #autocomplete {
  width: 100%;
}
.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
    outline: 0;
	/*width: 100% !important;*/
}
    /** ! controls **/
	
.section-heading{
    width: 80%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 30px;
    max-height: 30px;
}
    </style>
<div class="bg" ng-controller="home" id="containernew">
    <div style='display:none;' class="homes"></div>
    <div class="side-bar">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="side_nav">
                <li ng-if="loggedin"><a href="javascript:void(0)"><span ng-if="profileImage != ''"><img src="{{profileImage}}"
                                alt="" /> </span>
                         <span ng-if="profileImage == ''"><img src="assets/img/icon/user_icon.png" alt="" /> </span> <span>{{fullName}}</span></a></li>

                <li ng-if="!loggedin"><a href="javascript:void(0)"><span><img src="assets/img/icon/user_icon.png"
                                alt="" /> </span><span>{{'Welcome' | translate}}</span></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/icon/flag_icon.png" alt="" /> <span>{{country_name}}</span><img
                            src="assets/img/icon/edit_icon.png" alt="" class="location_view" ng-click="toswitchCountry()"/> </a></li>

                <li ng-if="loggedin" ng-click="profile()"><a href="javascript:void(0)"><img src="assets/img/icon/profile.png"
                            alt="" /> <span>{{'My_Profile' | translate}}</span></a></li>
                <li ng-if="loggedin" ng-click="my_address()"><a href="javascript:void(0)"><img src="assets/img/icon/profile.png"
                            alt="" /> <span>{{'My_Addresses' | translate}}</span></a></li>
                <li ng-click="cart()"><a href="javascript:void(0)"><img src="assets/img/icon/cart_black.png" alt="" />
                        <span>{{'My_Cart' |translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="myorder()"><a href="javascript:void(0)"><img src="assets/img/icon/orders.png"
                            alt="" /> <span>{{'My_Orders' | translate}}</span></a></li>
                <li ng-click="category()"><a href="javascript:void(0)"><img src="assets/img/icon/category.png" alt="" />
                        <span>{{'All_Categories' | translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="wishlist()"><a href="javascript:void(0)"><img src="assets/img/icon/wishlist.png"
                            alt="" /> <span>{{'Wishlist' | translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="wallet()"><a href="javascript:void(0)"><img src="assets/img/icon/valued.png" alt="" />
                        <span>{{'My_Wallet' | translate}}</span></a></li> 
                                
                <li ng-if="loggedin" ng-click="rewards()"><a href="javascript:void(0)"><img src="assets/img/icon/valued.png" alt="" />
                        <span>{{'My_Rewards' | translate}}</span></a></li>

                <li ng-click="valuedpack()"><a href="javascript:void(0)"><img src="assets/img/icon/valued.png" alt="" />
                        <span>{{'Valued_Pack' | translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="manage_ticket()"><a href="javascript:void(0)"><img src="assets/img/icon/tickets.png"
                            alt="" /> <span>{{'Manage_Tickets' | translate}}</span></a></li>

                <li ng-click="switch_country()"><a href="javascript:void(0)"><img src="assets/img/icon/country.png" alt="" />
                        <span>{{'Switch_Country' | translate}}</span></a></li>
                <li ng-click="language()"><a href="javascript:void(0)"><img src="assets/img/icon/language.png" alt="" />
                        <span>{{'Switch_Language' | translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="change_password()"><a href="javascript:void(0)"><img src="assets/img/icon/password.png"
                            alt="" /> <span>{{'Change_Password' | translate}}</span></a></li>
                <li ng-if="loggedin" ng-click="contact_us()"><a href="javascript:void(0)"><img src="assets/img/icon/contact.png"
                            alt="" /> <span>{{'Contact_Us' | translate}}</span></a></li>

                <li ng-if="loggedin" ng-click="logout()"><a href="javascript:void(0)"><img src="assets/img/icon/logout.png"
                            alt="" /> <span>{{'Log_Out' | translate}}</span></a></li>
                <li ng-if="!loggedin" ng-click="login()"><a href="javascript:void(0)"><img src="assets/img/icon/logout.png"
                            alt="" /> <span>{{'Log_In' | translate}}</span></a></li>
            </ul>
        </div>
    </div>
    <div id="main" onclick="closeNav()">
        <header class="container-fluid nav-down">
            <div class="row">
                <nav class="navbar navbar-inverse">
                    <div class="container no-padding" id="mySidenav" class="sidenav">
                        <ul class="nav navbar-nav top_header">
                            <li class="menu_icon "><a href="javascript:void(0)"><img onclick="openNav()" src="assets/img/icon/ham_icon.png"
                                        id="asdf" alt="menu icon" /></a></li>
                            <li class="logo_name ">
                                <a href="javascript:void(0)" class="text-left ">
                                    <p>{{'Delivery_Location' | translate}}</p>
                                    <span class="location_view">{{country_name}}</span>
                                    <img src="assets/img/header/pencil.png" alt="" ng-click="toswitchCountry()" />
                                </a>
                            </li>
                            <li class="cart_icon">
                                <a href="javascript:void(0)"><img ng-click="cart()" src="assets/img/icon/cart_icon.png"
                                        alt="cart icon" />
                                        <span class="badge">{{cart_count}}</span>
                                </a>
                                <a href="javascript:void(0)"><img src="assets/img/icon/search_icon.png" alt="search icon" /></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav bottom_header">
                            <li class="menu_search_container"><a href="javascript:void(0)">
                                    <!--                     <img src="assets/img/header/search_icon.png" alt="cart icon" />
 -->
                                    <input type="text" class="menu_search" name="searchProduct" ng-model="searchProduct"
                                       placeholder="{{'Search_Products_Brands_and_More' | translate}}" required/>
                                        <button class="search_bar_span" ng-click="searchresults()" ><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                                </a></li>
                        </ul>
                    </div>
                </nav>

            </div>
            <!-- MOBILE-MENU-AREA END -->
        </header>
        <!-- END HEADER -->


        <!--  START Banner SLIDER -->
        <div class="container-fluid">
            <div class="row">
                <div id="banner_slider">
                    <div id="slides_control">
                        <div>
                            <slick class="slider" settings="slickConfig0">
                                <div ng-repeat="slide in slider">
                                    <img style="height:200px;" class="slide_image" ng-src="{{slide.product_image}}">
                                </div>
                            </slick>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END Banner SLIDER -->

        <!--  START advertisement Section -->
        <!--	<div class="container-fluid animatedParent animateOnce">
            <div class="row">
                <div id="adv_1">
                    <a href="./product_list.php">
                        <div class="category-img">
                            <img src="assets/img/banner/advertise_01.png" alt="" class="animated fadeInDown slow"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>-->

        <!--  END advertisement Section -->

        <!--  START Best Picks Section -->
        <div class="container" ng-init="season_fetch()">
            <div class="product_catg_section mt-15">

                <div class="section-heading">
                    <p>{{'Best_picks_of_the_season' | translate}}</p>
                </div>
                <div class="section-heading-view" ng-click="see_all('1')">
                    <a href="javascript:void(0)">{{'See_all' | translate}}</a>
                </div>
                <div class="col-xs-12 white-bg no-padding">
                    <div class="col-xs-4 mt-15 mb-10 no-padding pl-5 pr-5" ng-repeat="x in best_picks_of_the_season | limitTo:3:0">
                        <!-- {{$index}} -->
                        <div class="catg_product_container">
                            <a href="javascript:void(0)">
                                <div class="offer-img" ng-click="product_view(x.id)">
                                    <img src="{{x.product_image}}" alt="" class="img-responsive" />
                                    <div class="catg_overlay text-center">
                                        <p>{{x.menu_name}}</p>
                                        <p class="product_price">{{'AED' | translate }} {{x.menu_varient_data.price}}</p>
                                    </div>
                                </div>
                            </a>
                            <div ng-hide="true" class="wislist_sub wishlist-container" ng-click="taptowish(x.menu_varient_data.id, x.menu_varient_data.is_in_wishlist)">
                                <i id="blank_{{x.menu_varient_data.id}}" class="fa heart fa-heart-o" ng-show="x.menu_varient_data.is_in_wishlist == '0'"></i>
                                <i id="filler_{{x.menu_varient_data.id}}" class="fa heart fa-heart fill" ng-show="x.menu_varient_data.is_in_wishlist == '1'"></i>
                              </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--  END Best Picks Section -->

        <!--  START Advertisement Section -->
        <div class="container-fluid">
            <div class="row">
                <div id="start1" class="mt-15">
                    <a href="javascript:void(0)">
                        <div class="category-img">
                            <img id="custom_slider" ng-if="offer[1].ad_big_image" style="min-height: 240px;max-height:240px" src="{{offer[1].ad_big_image}}" alt="" class="" />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--  END Advertisement Section  -->



        <!--  START Product of the day  Section -->
        <div class="container">
            <div class="product_catg_section mt-15">

                <div class="section-heading">
                    <p>{{'product_of_the_day' | translate}}</p>
                </div>
                <div class="section-heading-view" ng-click="see_all('2')">
                    <a href="javascript:void(0)">{{'See_all' | translate}}</a>
                </div>
                <div class="col-xs-12 white-bg no-padding">
                    <div class="col-xs-4 mt-15 mb-10 no-padding pl-5 pr-5" ng-repeat="y in product_of_the_day | limitTo:3:0">
                        <div class="catg_product_container">
                            <a href="javascript:void(0)">
                                <div class="offer-img" ng-click="product_view(y.id, y.MANUFACTURER_ID)">
                                    <img src="{{y.product_image}}" alt="" class="img-responsive" />
                                    <div class="catg_overlay text-center">
                                        <p>{{y.menu_name}}</p>
                                        <p class="product_price">{{'AED' | translate }} {{y.menu_varient_data.price}}</p>
                                    </div>
                                </div>
                            </a>
                            <div ng-hide="true" class="wislist_sub wishlist-container" ng-click="taptowish(y.menu_varient_data.id, y.menu_varient_data.is_in_wishlist)">
                                <i id="blank_{{y.menu_varient_data.id}}" class="fa heart fa-heart-o" ng-show="y.menu_varient_data.is_in_wishlist == '0'"></i>
                                <i id="filler_{{y.menu_varient_data.id}}" class="fa heart fa-heart fill" ng-show="y.menu_varient_data.is_in_wishlist == '1'"></i>
                              </div>
                        </div>
                    </div>

  

                </div>
            </div>
        </div>
        <!--  END Product of the day  Section -->

        <!--  START Advertisement Section -->
        <div class="container-fluid">
            <div class="row">
                <div id="adv_2" class="mt-15">
                    <a href="javascript:void(0)">
                        <div class="category-img">
                            <img id="custom_second_slider" ng-if="offer[3].ad_big_image" style="min-height: 240px;max-height: 240px;" src="{{offer[3].ad_big_image}}" alt="" class="" />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--  END Advertisement Section  -->


        <!--  START Featured Product Section -->
        <div class="container">
            <div class="product_catg_section mt-15">

                <div class="section-heading">
                    <p>{{'Featured_Product' | translate}}</p>
                </div>
                <div class="section-heading-view" ng-click="see_all('3')">
                    <a href="javascript:void(0)">{{'See_all' | translate}}</a>
                </div>
                <div class="col-xs-12 white-bg no-padding">
                    <div class="col-xs-4 mt-15 mb-10 no-padding pl-5 pr-5" ng-repeat="x in best_picks_of_the_featured_products | limitTo:3:0">
                        <div class="catg_product_container">
                            <a href="javascript:void(0)">
                                <div class="offer-img" ng-click="product_view(x.id)">
                                    <img src="{{x.product_image}}" alt="" class="img-responsive" />
                                    <div class="catg_overlay text-center">
                                        <p>{{x.menu_name}}</p>
                                        <p class="product_price">{{'AED' | translate }} {{x.menu_varient_data.price}}</p>
                                    </div>
                                </div>
                            </a>
                            <div  ng-hide="true" class="wislist_sub wishlist-container" ng-click="taptowish(x.menu_varient_data.id, x.menu_varient_data.is_in_wishlist)">
                                <i id="blank_{{x.menu_varient_data.id}}" class="fa heart fa-heart-o" ng-show="x.menu_varient_data.is_in_wishlist == '0'"></i>
                                <i id="filler_{{x.menu_varient_data.id}}" class="fa heart fa-heart fill" ng-show="x.menu_varient_data.is_in_wishlist == '1'"></i>
                              </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--  END Featured Product Section -->

        <!--  START Featured category Section -->
        <div class="container" ng-if="dairy_product">
            <div class="product_catg_section mt-15 mb-15">

                <div class="section-heading">
                    <p>{{'Featured_Category' | translate}}</p>
                </div>
                <div class="section-heading-view" ng-click="see_all('4')">
                    <a href="javascript:void(0)">{{'See_all' | translate}}</a>
                </div>
                <div class="col-xs-12 white-bg no-padding">
                    <div class="col-xs-4 mt-15 mb-10 no-padding pl-5 pr-5" ng-repeat="x in dairy_product | limitTo:3:0">
                        <div class="catg_product_container">
                            <a href="javascript:void(0)">
                                <div class="offer-img" ng-click="product_view(x.id)">
                                    <img src="{{x.product_image}}" alt="" class="img-responsive" />
                                    <div class="catg_overlay text-center">
                                        <p>{{x.menu_name}}</p>
                                    </div>
                                </div>
                            </a>
                            <div ng-hide="true" class="wislist_sub wishlist-container" ng-click="taptowish(x.menu_varient_data.id, x.menu_varient_data.is_in_wishlist)">
                                <i id="blank_{{x.menu_varient_data.id}}" class="fa heart fa-heart-o" ng-show="x.menu_varient_data.is_in_wishlist == '0'"></i>
                                <i id="filler_{{x.menu_varient_data.id}}" class="fa heart fa-heart fill" ng-show="x.menu_varient_data.is_in_wishlist == '1'"></i>
                              </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--  END featured category  Section -->


        <!--  START Advertisement Section -->
        <div class="container-fluid">
            <div class="row">
                <div id="adv_2" class="mt-15">
                    <a href="javascript:void(0)">
                        <div class="category-img">
                            <img src="assets/img/advert_1.png" alt="" class="" />
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!--  END Advertisement Section  -->


        <!-- Location Modal -->
        <div class="modal fade" id="myLocation" role="dialog">
            <div class="modal-vcenter">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="location-search">
                                <input type="text" id="location-search" placeholder="Seacrh location..." />
                            </div>
                            <div class="submit-btn text-center">
                                <a href="javascript:void(0)">Submit</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    </div>


    <script>
        $(document).ready(function () {
            $(".cart_icon a:last-child").click(function () {
                //alert();
                $(".bottom_header").slideToggle();
                //$("#banner_slider").toggleClass("search-container")
            });
        });

    </script>