<div ng-controller="myprofile" ng-init="myprofile_data()">
<header class="container-fluid nav-down">
	<div class="row">
		<nav class="navbar navbar-inverse">
		  <div class="container no-padding">
			<ul class="nav navbar-nav top_header text-center">
			  <li class="menu_icon "><a href="javascript:void(0)"  ><img src="assets/img/icon/back.png" id="asdf" alt="menu icon"style="width: 13px;" ng-click="back()"/></a></li>
				<li class="page_name left">
					<a href="javascript:void(0)" class="text-left ">
						<p>My info</p>
					</a>
				</li>
				<li class="cart_icon">
					<a href="javascript:void(0)"><img  src="assets/img/edit_profile.png" alt="cart icon"  id="editProfile"/>
						<!--<span class="badge">14</span>-->
					</a>
			</li>
			  
			</ul>
			
		  </div>
		</nav>
	
	</div>
	<!-- MOBILE-MENU-AREA END -->
</header>
<!-- END HEADER -->
	
<div class="container">
		<div class="login_form">
			<div class="info-container"> 
				<div class="info-btn col-xs-6 text-center pl-10 pr-10 active" ng-init="fetchcountry()">
					<a href="javascript:void(0)" >Basic Info</a>
				</div>
				<div class="info-btn col-xs-6 text-center pl-10 pr-10">
					<a href="javascript:void(0)" ng-click="toAddress()">Address Detail</a>
				</div>
			</div>
			<div class="form_container pt-10">
				<form class="mui-form" name="updateProfile" method="POST" novalidate>
				
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="text"  id="fname" name="fname" ng-model="fname" readonly placeholder="Enter first name" required>
					<label for="frst">First Name</label>
				  </div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="text"  id="lname" name="lname" ng-model="lname" readonly placeholder="Enter last name" required>
					<label for="lst">Last Name</label>
					</div>
					<div id="onLoad">
						<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="input_country" name="country" ng-model="country" readonly placeholder="Enter Country" >
						<label for="lst">Country</label>
						</div>
						<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="input_city" name="city" ng-model="city" readonly placeholder="Enter City" >
						<label for="lst">City</label>
						</div>
					</div>
					<div id="onEdit">
						<div class="mui-select col-sm-6 col-xs-12">
							<select id="country" name="select_country" ng-model="select_country"  readonly required ng-change="fetchcity()">
								<!-- <option>Select Country</option> -->
								<option ng-repeat="c in Countries" ng-value="{{c.id}}" >{{c.name}}</option>
							</select>
							<label for="country">Country</label>
						</div>
						<div class="mui-select col-sm-6 col-xs-12">
							<select id="city"  name="select_city" ng-model="select_city"  required>
								<option ng-value="{{city.id}}" ng-repeat="city in Cities">{{city.name}}</option>
							</select>
							<label for="city">City</label>
						</div>
					</div>
					
					<div class="mui-textfield col-sm-6 col-xs-12">
						<input type="text"  id="address" name="address" ng-model="address" readonly placeholder="Enter Address" ng-required="address">
						<label for="email">Address</label>
					</div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="email"  id="email" name="email" ng-model="email" readonly placeholder="Enter email id" required>
					<label for="email">Email ID</label>
				  </div>
				  <div class="mui-textfield col-sm-6 col-xs-12">
					<input type="tel"  id="mbl_num"  name="mobile" ng-model="mobile" readonly placeholder="Mobile Number" pattern="[0-9]{10}" required>
					<label for="mbl_num">Mobile Number</label>
				  </div>
				  <div class="submit-btn col-sm-6 col-xs-12 text-center hide" id="submitProfile">
					<a href="javascript:void(0)" ng-click="updateUserProfile('updateProfile')">Submit</a>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$("#onEdit").hide();
		$("#editProfile").click(function(){
			alert("You can Edit your profile now");
			$("#onLoad").hide();
			$("#onEdit").show();
			$("#fname").removeAttr("readonly");
			$("#lname").removeAttr("readonly");
			$("#address").removeAttr("readonly");/* 
			$("#input_city").removeAttr("readonly");
			$("#input_country").removeAttr("readonly"); */
			$("#submitProfile").removeClass("hide");
		})
	});
</script>