<div ng-controller="new_pass" >
  <header class="container-fluid nav-down">
    <div class="row">
      <nav class="navbar navbar-inverse">
        <div class="container no-padding">
        <ul class="nav navbar-nav top_header text-center">
          <li class="menu_icon "><a href="javascript:void(0)"  ><img ng-click="back()" src="assets/img/icon/back.png" alt="menu icon"style="width: 13px;" /></a></li>
          <li class="page_name left">
            <a href="javascript:void(0)" class="text-left ">
              <p>{{'New_Password' | translate}}</p>
            </a>
          </li>
          
        </ul>
        
        </div>
      </nav>
    
    </div>
    <!-- MOBILE-MENU-AREA END -->
  </header>
  <!-- END HEADER -->
    
  <!--  START Banner SLIDER -->
    <div class="container">
      <div class="login_form">
        <div class="form_container">
          <form class="mui-form" name="new_password" nonvalidate>
            <div class="mui-textfield col-sm-6 col-xs-12">
            <input type="password"  id="pass" name="new_pwd" ng-model="new_pwd" placeholder="{{'New_Password' | translate}}" required>
            <label for="pass">{{'New_Password' | translate}}</label>
            </div>
            <div class="mui-textfield col-sm-6 col-xs-12">
            <input type="password"  id="cnf_pass" name="conf_pwd" ng-model="conf_pwd" placeholder="{{'Confirm_New_Password' | translate}}" required>
            <label for="cnf_pass">{{'Confirm_New_Password' | translate}}</label>
            </div>
            <div class="submit-btn col-sm-6 col-xs-12 text-center">
            <a href="javascript:void(0);" ng-click="forgot('new_password')">{{'Submit' | translate}}</a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
</div>  
	