<div ng-controller="sub_category" >
        <style type="text/css">
            
        .owl-carousel .owl-stage
        {
            width: 40000px !important;
        }
        .slick-slide {
            display: none;
            float: left;
            height: auto;
            min-height: 1px;
            outline: 0;
        }
        .slick-slide{
           width: auto !important;
           margin-right: 5px !important;
        }
     /*    .btn-success.active:focus{
            background-color: #398439;
        } */
        .btn-success.active{
            background-color: #398439;
        }
		.nav > li.cart_icon {
			float: right;
			width: 30%;
		}
        </style>
        <header class="container-fluid nav-down">
            <div class="row">
                <nav class="navbar navbar-inverse">
                  <div class="container no-padding"> 
                    <ul class="nav navbar-nav top_header">
                      <li class="menu_icon "><a href="javascript:void(0)"  ><img src="assets/img/icon/back.png" ng-click="back()" id="asdf" alt="menu icon"style="width: 13px;" /></a></li>
                        <li class="page_name left" ng-if="categoryData">
                            <a href="javascript:void(0)" class="text-left ">
                                <p>{{categoryData.name | limitTo:20}}{{categoryData.name.length > 20 ? '...' : ''}}</p>
                            </a>
                        </li>
                        <li class="page_name left" ng-if="best_picks_of_the_season">
                            <a href="javascript:void(0)" class="text-left ">
                                <p>{{feature_name | translate}}</p>
                            </a>
                        </li>
                      <li class="cart_icon">
						<a href="javascript:void(0);"><img src="assets/img/header/filter.png" alt="search icon" onclick="openFilter()"/></a>
                          <a href="javascript:void(0)"><img ng-click="cart()" src="assets/img/icon/cart_icon.png" alt="cart icon"  />
                            <!--<span class="badge">14</span>-->
                          </a>
                          <a href="javascript:void(0)"><img src="assets/img/icon/search_icon.png" alt="search icon" /></a>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav bottom_header">
                      <li class="menu_search_container"><a href="javascript:void(0)">
                        <!--<img src="assets/img/header/search_icon.png" alt="cart icon" />-->
                        <input type="text" class="menu_search" placeholder="Search products brands and more"/>
                      </a></li>
                    </ul>
                  </div>
                </nav>
            
            </div>
            <!-- MOBILE-MENU-AREA END -->
        </header>
        <!-- END HEADER -->
		
		
        <!--Filter Start -->
		<div id="mySidenav-right" class="sidenav-right">		
	<header id="filter-header" class="container-fluid nav-down" style="top: 0 !important;">
		<div class="row">
			<nav class="navbar navbar-inverse">
			  <div class="container-fluid no-padding">
				<ul class="nav navbar-nav top_header">
				  <li class="menu_icon"><a href="javascript:void(0)" ><img onclick="closeFilter()" src="assets/img/header/cross_icon.png" id="asdf" alt="menu icon" /></a></li>
				  <li class="logo_name" style="width: 100%"><a class="text-center back">Filter</a></li>
				  
				</ul>
			  </div>
			</nav>
		</div>
	</header>
	<div class="filter-body">
		<div class="filter-container">
			

			<button class="accordion" id="accord_1" ng-click="init(1);">Sub-categories</button>
			<div class="accordion-panel accordion-panel_1">
			  <div class="accordion-container">
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Feeding Pillow</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Baby Sling</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Cutlery</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Grooming</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button class="accordion" id="accord_2" ng-click="init(2);">Brand</button>
			<div class="accordion-panel accordion-panel_2">
			  <div class="accordion-container">
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> BB Royal</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> BB Combo</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> orgran</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="checkbox" name="">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Star Lion</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button class="accordion" id="accord_3" ng-click="init(3);">Price</button>
			<div class="accordion-panel accordion-panel_3">
			  <div class="accordion-container">
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Less than rs 20</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Rs 21 to Rs 50</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Rs 51 to Rs 100</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Rs 101 to Rs 200</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Rs 201 to Rs 500</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="price_range">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> More than Rs 501</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<button class="accordion" id="accord_4" ng-click="init(4);">Sort By</button>
			<div class="accordion-panel accordion-panel_4">
			  <div class="accordion-container">
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Low to High</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input  type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> High to Low</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Popularity</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Discount</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Relevance</label>
							</div>
						</div>
					</div>
					<div class="accordion-options">
						<div class="pretty p-icon p-curve p-pulse">
							<input type="radio" name="sort">
							<div class="state p-info-o">
								<i class="icon fa fa-check"></i>
								<label> Newest</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>
	<footer>
		<div class="apply_btn_container">
			<button> Cancel</button>
			<button> Apply</button>
		</div>
	</footer>
</div>
		
		<!--Filter End -->
		
		
        <!--  [PULSES] Sub categories content -->
            <div class="container-fluid mt-55">
                <div class="row">
                    <div class="">
                        <!-- ** Buttons** -->
                        <div class="pulses_buttons mb-20 mt-10" ng-if="categoryData">
                            <div id="" class="owl-carousel owl2 owl-theme owl-loaded owl-drag">
                                <!-- Buttons Items -->
                                <div class="item">
                                    <!-- <script type="text/ng-template" id="slider-top">
                                        <input type="button" class="btn btn-success all-sub-cat_buttons" id="sub_cat" name="" value="{{sub.name}}" ng-click="fetch_product_list(sub.id)">                       
                                    </script> -->
                                    <slick class="slider" settings="slickConfig0" >
                                        <div>
                                            <input type="button" ng-if="categorysubData" class="btn btn-success all-sub-cat_buttons" id="all" name="" value="All" ng-click="fetch_product_list('all')">
                                        </div>
                                        <div ng-repeat="sub in categorysubData">
                                            <input type="button" class="btn btn-success all-sub-cat_buttons" id="sub_cat" name="" value="{{sub.name}}" ng-click="fetch_product_list(sub.id)">                      

                                        </div>
                                    </slick>
                                </div>
                                <!-- <div class="item">
                                    <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 2">
                                </div>
                                <div class="item">
                                    <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 3">
                                </div>
                                <div class="item">
                                    <input type="button" class="btn btn-success all-sub-cat_buttons" name="" value="Sub-Category 4">
                                </div> -->
                                <!-- !. Buttons Items -->
                            </div>
                        </div>
                        <!-- <div ng-if="!categoryData">
                            <p>No Sub Categories</p >
                        </div> -->
                        <!-- ** !. Buttons ** -->
                        <!-- ** Product Lists ** -->
                        <div class="no-padding item_lists_main" ng-repeat="x in product" ng-if="categoryData"   ng-click="product_view(x.id)">
                           
                            <div class="prodcut_main_container">
                                <div class="products_wrapper">
                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                        <a href="javascript:void(0)"><img class="img-responsive sub_cat_product_img" src="{{x.product_image}}"></a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 sub_product_desc">
                                        <!-- <input type="button" class="btn btn-default btn_discounts" name="" value="6% Off"> -->
                                        <a href="javascript:void(0)"><p class="sub_produt_name">{{x.menu_name}}</p></a>
                                        <p class="sub_product_qty">{{x.product_varient[0].unit_value}} {{x.product_varient[0].UNIT_NAME}}</p>
                                        <p class="sub_prcing" ><!-- <strike>AED {{productVarient.price_for_retailer}}</strike> --><!-- <span id="sub_rrp" > -->AED {{x.product_varient[0].price}}<!-- </span> --></p>
                                    </div>
                                        <div class="wislist_sub wishlist-container">
                                          <i class="fa heart fa-heart-o"></i> 
                                        </div>
                                        <div class="sub_add_product">
                                            <div class="add_item_container sub_add_btn">
                                                <div class="add_item_button sub_add_btn" style="display: none;">
                                                   <button class="add_item sub_add_btn"><span class="additem_span">+</span></button>
                                                   <input type="text" value="1" disabled="">
                                                  
                                                    <button class="less_item sub_add_btn"><span class="additem_span">-</span></button>
                                                </div>
                                                <div class="add_cart_button sub_add_btn">
                                                   <button class="">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- {{product.length}} -->
                        <div  class="no_data_wrapper" ng-if="product.length == '0'">
                           <div class="">
							   <img src="img/no_data_found.png">
							   <h3 class="text-center">No Data Found !!!</h3>
                           </div>
                            
                        </div>

                        <div class="no-padding item_lists_main" ng-repeat="x in best_picks_of_the_season" ng-if="best_picks_of_the_season && !searchresult"  ng-click="product_view(x.id)">
                           
                                <div class="prodcut_main_container">
                                    <div class="products_wrapper">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <a href="javascript:void(0)"><img class="img-responsive sub_cat_product_img" src="{{x.product_image}}"></a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 sub_product_desc">
                                            <!-- <input type="button" class="btn btn-default btn_discounts" name="" value="6% Off"> -->
                                            <a href="javascript:void(0)"><p class="sub_produt_name">{{x.menu_name}}</p></a>
<!--                                             <p class="sub_product_qty">{{x.product_varient[0].unit_value}} {{x.product_varient[0].UNIT_NAME}}</p>
 -->                                            <p class="sub_prcing" ><!-- <strike>AED {{productVarient.price_for_retailer}}</strike> --><!-- <span id="sub_rrp" > -->AED {{x.menu_varient_data.price}}<!-- </span> --></p>
                                        </div>
                                            <div class="wislist_sub wishlist-container">
                                              <i class="fa heart fa-heart-o"></i> 
                                            </div>
                                            <div class="sub_add_product">
                                                <div class="add_item_container sub_add_btn">
                                                    <div class="add_item_button sub_add_btn" style="display: none;">
                                                       <button class="add_item sub_add_btn"><span class="additem_span">+</span></button>
                                                       <input type="text" value="1" disabled="">
                                                      
                                                        <button class="less_item sub_add_btn"><span class="additem_span">-</span></button>
                                                    </div>
                                                    <div class="add_cart_button sub_add_btn">
                                                       <button class="">Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        <!-- ** !. Product Lists ** -->                       
                    </div>
                </div>
            </div>
        <!--  !. [PULSES] Sub categories content -->
            
        
            
        <script>
        
            
        $(document).ready(function(){
            $(".cart_icon a:last-child").click(function(){
                //alert();
                $(".bottom_header").slideToggle();
                //$("#banner_slider").toggleClass("search-container")
            });	
        });

        /* $(document).ready(function(){
        $('#sub_cat').click(function(){
            $('#all').removeClass('.btn-success.active');
            });
        }) */
        </script>	
   
</div>
